@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    1740 W. 92nd St.
    Kansas City, MO 64114
</address>

<h4>I can be reached at the email below.</h4>
<address>
   <a href="mailto:gidonnyramos@outlook.com">gidonnyramos@outlook.com</a><br />
 
</address>

