@{
    ViewBag.Title = "Home Page";
}

<div id="team">
    <div class="container">

        <div class="row">
            <div class="col-md-offset-2 col-md-8 col-sm-12">
                <h2>Full Stack Web Developer</h2>
                <br />
                <h3>HIGHLIGHTS:</h3>
                <br />
                <h4>.NET Framework</h4>
                <h4>Full Stack Web Application Design</h4>
                <h4>C# Fundamentals</h4>
                <h4>Database Management</h4>
                <h4>Unit Testing</h4>
                <h4>Software Development Lifecycle</h4>
                <h4>Agile Scrum Methodology</h4>
                <h4>Continued Growth in IT Knowledge</h4>

            </div>
        </div>

        <div class="row mt30">
            <div class="col-md-4 col-sm-4 col-xs-9">
                <div class="team-wrapper">
                    <img src="~/Content/images/portfolio-header.jpg" class="img-responsive" alt="team img">
                    <h3>Studio Project</h3>
                    <h4>Utilized</h4>
                    <p>HTML, CSS, JavaScript.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-9">
                <div class="team-wrapper">
                    <img src="~/Content/images/portfolio-img6.jpg" class="img-responsive" alt="team img">
                    <h3>Dungeon Application</h3>
                    <h4>Utilized</h4>
                    <p>HTML, CSS, JavaScript, C#, jQuery, Responsive.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-9">
                <div class="team-wrapper">
                    <img src="~/Content/images/portfolio-img7.jpg" class="~/Content/img-responsive" alt="team img">
                    <h3>Store Front App</h3>
                    <h4>Utilized</h4>
                    <p>HTML, CSS, JavaScript, C#, jQuery, Responsive.</p>
                </div>


            </div>
        </div>

        <div class="row mt30">
            <div class="col-md-12 col-sm-12">
                <hr>
            </div>
            <div class="col-md-6 col-sm-6">
                <h3>About</h3>
                <p>FUll STACK DEVELOPER.</p>
                <p>An empathic and compassionate, caring person. Love technology, reading, sports, my family, puppy, + COFFEE. Not in that order!</p>
            </div>

        </div>
    </div>
</div>
