@{
    ViewBag.Title = "Home Page";
}

<div id="team">
    <div class="container">

        <div class="row">
            <div class="col-md-offset-2 col-md-8 col-sm-12">
                <h3>About</h3>
                <br />
                <h4>My name is Gidonny & I am a United States Army Veteran.</h4>
                <h4>I am an empathic, compassionate,</h4>
                <h4>& caring person who </h4>
                <h4>Loves technology,</h4>
                <h4>reading, sports, my family, puppy, + COFFEE...Not in that order!</h4>
                <h4>Bilingual (Spanish/English). Please, do not hesitate to reach out.</h4>

            </div>
        </div>

        <div class="row mt30">
            <div class="col-md-4 col-sm-4 col-xs-9">
                <div class="team-wrapper">
                    <img src="~/Content/images/portfolio-header.jpg" class="img-responsive" alt="team img">
                    <h3>FED1 Studio Project</h3>
                    <h4>Utilized</h4>
                    <p>HTML, CSS, JavaScript, C#, jQuery.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-9">
                <div class="team-wrapper">
                    <img src="~/Content/images/portfolio-img6.jpg" class="img-responsive" alt="team img">
                    <h3>Dungeon App</h3>
                    <h4>Utilized</h4>
                    <p>JavaScript, C#, jQuery, Responsive.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-9">
                <div class="team-wrapper">
                    <img src="~/Content/images/portfolio-img7.jpg" class="~/Content/img-responsive" alt="team img">
                    <h3>Store Front App</h3>
                    <h4>Utilized</h4>
                    <p>XML, JSON, Responsive.</p>
                </div>


            </div>
        </div>

    </div>
</div>

