@{
    ViewBag.Title = "Links";
}

<h2>@ViewBag.Title</h2>


<!--author: templatemo
author URL: https://templatemo.com/
License: Creative Commons Attribution
License URL: https://templatemo.com/

-->

<div id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 col-sm-12">
                <h2>My Awesome Centriq Classmates</h2>
            </div>
        </div>

    </div>
    <div class="thumb">
        <div class="col-md-2 col-sm-2 col-xs-2">
            <img src="~/Content/images/mford.jpg" class="img-responsive" alt="Mindi Ford Site">
            <a href="http://mindiford.com"><h4>Mindi Ford</h4></a>
        </div>

        <div class="col-md-2 col-sm-2 col-xs-2">
            <img src="~/Content/images/Justin.jpg" class="img-responsive" alt="Justin Vignone Site">
            <a href="http://vignonetech.com"><h4>Justin Vignone</h4></a>
        </div>

        <div class="col-md-2 col-sm-2 col-xs-2">
            <img src="../~/Content/images/robert_photo.png" class="img-responsive" alt="Robert Pickenpaugh Site">
            <a href="#"><h4>Robert Pickenbaugh</h4></a>
        </div>

        <div class="col-md-2 col-sm-2 col-xs-2">
            <img src="~/Content/images/portfolio-img4.jpg" class="img-responsive" alt="Jake Adamek Site">
            <a href="#"><h4>Jake Adamek</h4></a>
        </div>

        <div class="col-md-2 col-sm-2 col-xs-2">
            <img src="~/Content/images/mike_tullis.jpg" class="img-responsive" alt="Michael Tullis">
            <a href="http://miketullis.com"><h4>Michael Tullis</h4></a>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2">
            <img src="~/Content/images/ben-adler.jpg" class="img-responsive" alt="Benjamin Adler">
            <a href="#"><h4>Benjamin Adler</h4></a>
        </div>
    </div>
</div>
