
@{
    ViewBag.Title = "Portfolio";
}

<h2>Portfolio</h2>

<div class="divider">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="divider-wrapper divider-one">
                    <i class="fa fa-laptop"></i>
                    <h2>FED1 Studio Project</h2>
                    <p>Utilized HTML, CSS3, C#.</p>
                    <a href="http://sna.gidonny.com" class="btn btn-default">LEARN MORE</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="divider-wrapper divider-two">
                    <i class="fa fa-mobile"></i>
                    <h2>Dungeon App</h2>
                    <p>HTML5, CSS3, .NET Framework, C#, JavaScript, jQuery</p>
                    <a href="https://github.com/Gidonnyramos/DungeonApp" class="btn btn-default">LEARN MORE</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="divider-wrapper divider-three">
                    <i class="fa fa-life-ring"></i>
                    <h2>Store App</h2>
                    <p>HTML5, CSS3, .NET Framework, C#, JavaScript, jQuery, SQL, XML, JSON, MVC.</p>
                    <a href="#" class="btn btn-default">Upcoming</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <img src="~/Content/images/portfolio-img4.jpg" class="img-responsive" alt="about img">
            </div>
            <div class="col-md-6 col-sm-12 about-des">
                <h2>My Portfolio</h2>
                <br />
                <h3>FED1 Studio Project.</h3>
                <h3>Dungeon App.</h3>
                <h3>Store Front Application</h3>
                <h3>.NET WEB API</h3>
                <h3>React</h3>
                <h3>Scheduling Application</h3>
                <a href="@Url.Action("Resume", "Home")" class="btn btn-default">LEARN MORE</a>
            </div>
        </div>
    </div>
</div>


