
@{
    ViewBag.Title = "Resume";
}

<div id="about">
    <div class="container">

        <div class="row">
            
            <div class="col-md-offset-2 col-md-8 col-sm-12">
                <h2><strong>Gidonny Ramos:<br/>Resume</strong></h2>
                <br />
                <h3>Full Stack Developer.</h3>
                <br />
                <h4>.NET Framework</h4>
                <h4>Full Stack Web Application Design</h4>
                <h4>C# Fundamentals</h4>
                <h4>Database Management</h4>
                <h4>Unit Testing</h4>
                <h4>Software Development Lifecycle</h4>
                <h4>Agile Scrum Methodology</h4>
                <h4>Continued Growth in IT Knowledge</h4>

            </div>
        </div>

        <div class="row mt30">
            <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="Personal-Site">
                    <img src="~/Content/images/portfolio-header.jpg" class="img-responsive" alt="Personal Site Link">
                    <h3>TECHNICAL & PROFESSIONAL SKILLS</h3>
                    <h4>Front End: HTML5, JavaScript, jQuery, CSS3, Responsive/Mobile Web Development, Bootstrap, ReactJS</h4>


                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="team-wrapper">
                    <img src="~/Content/images/portfolio-img3.jpg" class="img-responsive" alt="team img">
                    <h3>Dungeon App</h3>
                    <h4>Additionally. Utilized: </h4>
                    <h4>Middle Tier: C#, ASP.NET, LINQ, MVC, EF, ASP.NET Web API.</h4>

                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="team-wrapper">
                    <img src="~/Content/images/portfolio-img4.jpg" class="img-responsive" alt="team img">
                    <h3>Store App</h3>
                    <h4>Additionally. Utilized: Back End: ADO.NET, SQL, SQL Server</h4>
                    <h4>Tools: Visual Studio, Visual Studio Code, SSMS.</h4>
                </div>

            </div>
        </div>
    </div>
</div>
