<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!--Added to protect sensitive data from being committed to Source Control-->
  
  <add key="EmailClient" value="mail.gidonny.com"/>
  
  <add key="EmailUser" value="gidonny@gidonny.com"/>
  
  <add key="EmailPass" value="Allpwtk@75MA!2"/>
 
  <add key="EmailTo" value="jdemaranville@centriq.com"/>
</appSettings>
